
@media screen and (min-width: 300px) {
    .mp-vertical-padded-container {
        padding: 15px 8vw 5px 8vw;
    }
}

@media screen and (min-width: 768px) {

    .mp-vertical-padded-container {
        padding: 15px 4vw 5px 4vw;
    }
}

@media screen and (min-width: 1024px) {
    .container-fluid.navbar-container {
        padding: 0 3%;
    }

    .mp-vertical-padded-container {
        padding-top: 25px;
        padding-bottom: 20px;
    }
}
