.vert-center {
    padding: 10% 0 10%;
}


/* Dashboard Styles*/

.wrapper{
    display: flex;
    width: 100%;
}

.content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.content.active{
    width: 100%;
}

.pt5 {
    padding-top: 5%;
    padding-bottom: 5%;
}
.pt1{
    padding-top: 1%;
    padding-bottom: 1%;
}
.pt1 ul{
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
    .content.active {
        width: calc(100% - 250px);
    }
}

.img-regular{
    max-width: 300px;
}

/** Video Player CSS **/

@media screen and (max-width: 768px){
    .video-holder{
        margin-bottom: 25px;
    }
}

body.frontend{
    min-height: 100%;
}
